body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

input, button {
  text-align: center;
  height: 50px;
  margin: 15px 0;
  border: 1px solid #000
}

button {
  background: #ff00ff;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background: #a5a5a5;
  cursor: not-allowed;
}